<html>
  <head>
    <%# <%= stylesheet_link_tag 'one_user' %> %>

  </head>

  <body>

  <%= render 'shared/user_card', user: @user %>

<div class="user-bio">
    <h4 class="bio-p"> Bio of <%= @user.name %></h4>
    <p><%= @user.bio %></p>
</div>

<%= render partial: 'shared/posts_container', locals: { posts: @user.posts } %>

<div>
    <button class="btn btn-primary">See all posts</button>
</div>


</body>
</html>



