<div class="userPosts">
    <% @user.posts.each do |post| %>
        <div class="userPost">
            <h3><%= link_to post.title, user_post_path(user_id: post.author_id, id: post.id) %></h3>
            <p><%= post.text %></p>
            <p class="commentsLikes">Comments: <%= post.comments_counter.nil? ? 0 : post.comments_counter %>, Likes: <%= post.likes_counter.nil? ? 0 : post.likes_counter %></p>
        </div>
        <%= render_comments_section(post) %>
    <% end %>
</div>