<html>
  <head>
    <%= stylesheet_link_tag 'post' %>
  </head>

  <body>
    <%= render 'post_card' %>
    <%= render_comments_section(@post) %>
    <button class="btn btn-primary">
    <%= link_to "Add a Comment", new_user_post_comment_path(post_id: @post.id) %>
    </button>

    <% if can? :destroy, @post %>
      <%= button_to "Delete post", user_post_path(user_id: @post.author.id, post_id: @post.id), method: :delete, class: "btn"  %>
    <% end %>

  </body>
</html>