<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

      <!-- Flash messages for success notices -->
    <% flash.each do |name, message| %>
      <% if name == :notice %>
        <p class="notice"><%= message %></p>
      <% end %>
    <% end %>

    <!-- Flash messages for error alerts -->
    <% flash.each do |name, message| %>
      <% if name == :alert %>
        <p class="alert"><%= message %></p>
      <% end %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
